@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --family-Fraunces-: "Fraunces", serif;
  --family-Montserrat: "Montserrat", sans-serif;
  --family-playwrite: "Playwrite DE Grund", cursive;
}

.attribution {
  font-size: 13px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 700px;
  display: flex;
  background-color: var(--Cream);
  border-radius: 25px;
  overflow: hidden;
}

.l-c img {
  width: 350px;
  height: 500px;
  vertical-align: middle;
}

.r-c {
  padding: 24px;
}

.r-c h3 {
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  font-family: var(--family-Fraunces-);
}

.r-c p {
  font-size: 19px;
  color: var(--Dark-grayish-blue);
  font-family: var(--family-playwrite);
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price p {
  text-decoration: line-through;
  font-family: var(--family-playwrite);
}

.price h1 {
  font-family: var(--family-Montserrat);
}

.btn {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: var(--Dark-cyan);
  color: white;
  font-size: 18px;
  align-content: center;
  cursor: pointer;
}

.btn img {
  margin-right: 12px;
  width: 19px;
  vertical-align: middle;
}

.btn:hover {
  background-color: hsl(158, 86%, 14%);
}
@media (max-width: 764px) {
  .container {
    width: 100%;
    align-content: center;
  }

  .content {
    width: 700px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .l-c {
    width: 100%;
  }

  .l-c img {
    width: 200px;
    height: 200px;
    margin-left: 25%;
    margin-top: 5%;
  }

  .attribution {
    font-size: 13px;
    display: block;
  }
}
